{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<!-- PORT PLAYER PROFILE AND MY PROFILE TO BE THE SAME THING DUMBASS -->

<div class="container" style="margin-top: 50px" xmlns="http://www.w3.org/1999/html">

    <!-- PROFILE CARD -->
    <div class="row justify-content-end">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                    <h1>{{ player.name }} ({{player.position}})</h1>
                </div>
                <div class="card-body">
                    <img class="img-fluid" src="{{ image_file }}" style="max-width: 100%; height: auto;">
                </div>
                <div class="card-footer text-body-secondary">
                    <p><strong>Email:</strong> {{player.email }}</p>
                    <p><strong>Bio:</strong> {{player.bio}}</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h1 style="margin-left: 50px">Stats</h1>
            <div class="table-responsive" style="margin: 50px;">
                <table class="table table-bordered">
                    <thead class="table" style="background-color: #82A8B5;color:white;">
                    <tr>
                        <th scope="col">MP</th>
                        <th scope="col">Goals Scored</th>
                        <th scope="col">Assists</th>
                        <th scope="col">Shot%</th>
                        <th scope="col">Saves Made</th>
                        <th scope="col">Goals Against</th>
                        <th scope="col">Save%</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <td>{{player.matches_played}}</td>
                        <td>{{player.goals_scored}}</td>
                        <td>{{player.assists}}</td>
                        <td>{{player.shot_percentage}}</td>
                        <td>{{player.saves_made}}</td>
                        <td>{{player.goals_against}}</td>
                        <td>{{player.save_percentage}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-8">
                <h1 style="margin-left: 50px">Teams</h1>
                <div class="table-responsive" style="margin: 50px;">
                    <table class="table table-bordered">
                        <thead class="table" style="background-color: #82A8B5;color:white;">
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">Division</th>
                            <th scope="col">MP</th>
                            <th scope="col">Goals Scored</th>
                            <th scope="col">Assists</th>
                            <th scope="col">Shot%</th>
                            <th scope="col">Saves Made</th>
                            <th scope="col">Goals Against</th>
                            <th scope="col">Save%</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% if player.teams %}
                        {% for team in player.teams %}
                        <h2>{{ team.name }}</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>Matches Played</th>
                                <th>Goals Scored</th>
                                <th>Assists</th>
                                <th>Shot Percentage</th>
                                <th>Saves Made</th>
                                <th>Goals Against</th>
                                <th>Save Percentage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Add logic to find the correct player_for_team based on team and player -->
                            <tr>
                                <td>placeholder</td>
                                <td>placeholder</td>
                                <td>placeholder</td>
                                <td>{placeholder</td>
                                <td>placeholder</td>
                                <td>placeholder</td>
                                <td>placeholder</td>
                            </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                        {% else %}
                        <p>Not on any teams yet!</p>
                        {% endif %}

                        </tr>
                        </tbody>
                        <tbody class="table-group-divider">
                        <tr>
                            <td>
                                placeholder
                                </a>
                            </td>
                            <td>
                            </td>

                            <td>placeholder</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color:red">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}


    </div>
    {% endblock %}
