{% extends "base.html" %}
{% block content %}

<style>
    .score-background {
    border-radius: 5px;
    color: white;
    background-color: #F4922A; /* Set the background color */
    padding: 2px 6px; /* Add padding for space around the scores */
    display: inline-block; /* Ensure the background only covers the text width */
    text-align: center; /* Center-align the text */
}
</style>
<div class="container">
    <h1 style="margin: 50px;">{{league.name}} - Schedule</h1>

    <div class="col-2 accordion" id="accordionFlushExample" style="margin: 50px">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed"
                        data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button">
                    {{league.name}}
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseOne">
                <div class="accordion-body">
                    {% for specific_league in all_leagues %}
                    <ul style="">
                        <li style="list-style-type: none">
                            <a href="{{url_for('matches.schedule', league_id=specific_league.id)}}">{{specific_league.name}}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="table-responsive" style="margin: 50px">
        <!-- This groups everything by the week attribute in scheduled matches then
        loops through it that way so loop one is match week one and then for match in matches
        are all the matches in week 1 etc -->
        {% for match_week, matches in scheduled_matches|groupby('week') %}

        <table class="table table-bordered">
            <thead class="table" style="background-color: #82A8B5;color:white;">
            <tr>
                <th>Match Week {{match_week}}
                    {% if dates_by_week.get(match_week) %}
                        | {{ dates_by_week[match_week][0] }}
                    {% endif %}
                    {% for match in matches %}
                    {% if match.home_team == 'BYE' or match.away_team == 'BYE' %}
                    | Bye's:
                    {% endif %}
                    {% if match.home_team == 'BYE' %}{{match.away_team_info.name}}
                    {% elif match.away_team == 'BYE' %}{{match.home_team_info.name}}
                    {% endif %}
                    {% endfor %}
                </th>
                <th>Field</th>
                <th>Highlights</th>
                <th></th>
                {% if current_user.is_admin %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
            {% if match.home_team != 'BYE' and match.away_team != 'BYE' %}
            <tr>
                <td>
                    <div style="display: flex; justify-content: start;">
                        <div style="min-width: 20ch; text-align: right; margin-right: 5px"><strong><a
                                href="{{url_for('teams.team_page', chosen_league_id=league.id, team_id=match.home_team)}}"
                                style='text-decoration: none; color: inherit;'>{{
                            match.home_team_info.name }}</a></strong></div>
                        {% if not match.been_played %}
                        <div class="score-background"><strong>{{match.time}}</strong></div>
                        {% else %}
                        <div class="score-background"><strong>{{ match.home_team_score }} - {{ match.away_team_score
                            }}</strong></div>
                        {% endif %}
                        <div style="min-width: 20ch; text-align: left; margin-left: 5px"><strong><a
                                href="{{url_for('teams.team_page', chosen_league_id=league.id, team_id=match.away_team)}}"
                                style='text-decoration: none; color: inherit;'>{{
                            match.away_team_info.name }}</a></strong></div>
                    </div>

                </td>
                <td>{{ match.field }}</td>
                <td>{{ match.highlights_link }}</td>
                {% if current_user.is_admin %}
                <td style="display: flex; justify-content: center;"><a
                        aria-disabled="true" class="btn"
                        href="{{url_for('matches.match_info', league_id=league.id, match_id=match.id)}}" role="button" style="background: #F4922A; ">Add Info</a></td>
                {% endif %}
                <td style="display: flex; justify-content: center;"><a
                        aria-disabled="true" class="btn"
                        href="{{url_for('matches.match_page', league_id=league.id, match_id=match.id)}}" role="button" style="background: #F4922A; ">Match Info</a></td>

            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>

{% endblock %}