{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container" style="margin-top: 50px">
        <h1>{{ league.name}} - Teams</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Standings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fixtures</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" style="background-color: #F4922A" href="{{url_for('join_chosen_league', chosen_league_id=league.id)}}" role="button">Join</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<div class="row row-cols-1 row-cols-lg-3 g-4 py-5">
    {% for team in league.teams %}
    {% if team.name != "Free Agents" %}
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{{ url_for('static', filename=team.logo) }}')">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="{{url_for('team_page', chosen_league_id=league.id, team_id=team.id)}}" style="text-decoration: none !important; color:white;">{{team.name}}</a> </h3>
            <a class="btn btn-primary" style="background-color: #F4922A" href="{{url_for('join_chosen_team', chosen_league_id=team.league_id, team_id=team.id)}}" role="button">Join Team</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}